nav {
  background: #f1f1f1;
  padding: 12px;
}

nav div {
  text-align: center;
}

a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a.active {
  color: blue;
}
